@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.imagensucesos1 {
  height: 50%;
  width: 50%; }

.derechossuces, .derechosn, .derechosinicio, .derechoscontact, .derechosinter, .derechosun {
  color: white;
  display: grid;
  place-items: center;
  font-size: 10px;
  margin-bottom: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.imagensucesos1 {
  height: 50%;
  width: 50%; }

.imagensucesos1 {
  height: 50%;
  width: 50%; }

.sectioninicio1 {
  background-color: #D9D9D9; }

.sectioninicio2 {
  background-color: #EFE9E1; }

header {
  color: white;
  text-align: center; }
  header .container4 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 480px) {
      header .container4 {
        grid-template-columns: 1fr;
        gap: 1rem; }
        header .container4 .imgainicio12 {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container4 .primertitulo1inicio {
          text-align: center; }
        header .container4 .titulonoticia1 {
          text-align: center; }
        header .container4 .titulovideoinicio1 {
          margin-left: 40px; }
        header .container4 .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container4 .videoayudamc {
          display: none; }
        header .container4 .mariacorina {
          display: none; }
        header .container4 .textmariacorina {
          display: none; }
        header .container4 .img2maria {
          margin-top: 20px;
          height: 60%;
          width: 32%; }
        header .container4 .videoayudamc1 {
          margin-left: 5px; }
        header .container4 .imgdesastrenatural {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container4 .dukevi {
          width: 20%;
          height: 20%;
          margin-left: 50px; } }
    header .container4 .primertitulo1inicio {
      margin-top: 5px;
      margin-left: 25px; }
    header .container4 .imgainicio {
      width: 90%;
      height: 90%;
      margin-left: 10px; }
    header .container4 .titulonoticia1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container4 .primerparrafoinicio {
      font-size: small;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container4 .titulovideoinicio1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container4 .videoinicio1 {
      margin-left: 10px; }
  header .container4 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (max-width: 480px) {
      header .container4 {
        grid-template-columns: 1fr;
        gap: 10px; }
        header .container4 .fototwitter {
          height: 10px;
          width: 10px; }
        header .container4 .videoayudamc {
          display: none; }
        header .container4 iframe .mariacorina {
          display: none; }
        header .container4 .ejemplodosN {
          margin-left: 20px; }
        header .container4 .img2maria {
          display: none; }
        header .container4 .mariacorina {
          display: none; }
        header .container4 .videoayudamc1 {
          margin-left: 15px; }
        header .container4 .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container4 .segundotituloun {
          margin-left: 100px; }
        header .container4 .primertitulonacional {
          display: none; }
        header .container4 .primeraimagennacional {
          width: 50%;
          height: 50%;
          margin-top: 20px;
          margin-left: 160px; }
        header .container4 .imgainicio {
          height: 100%;
          width: 100%;
          margin-left: 25px; }
        header .container4 .primertitulo1inicio {
          text-align: center; }
        header .container4 .fototwitter {
          display: none; } }
  header .container4 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 1300px) {
      header .container4 {
        grid-template-columns: 1fr;
        gap: 1em; }
        header .container4 .primertitulo1inicio {
          text-align: center; }
        header .container4 .imgainicio12 {
          height: 45%;
          width: 45%;
          margin-bottom: 5px;
          margin-left: 376px; }
        header .container4 .titulonoticia1 {
          margin: 10px;
          text-align: center; }
        header .container4 .primerparrafoinicio {
          font-size: large; }
        header .container4 .sectioninicio1 {
          display: none; }
        header .container4 .primeraparte {
          display: none; }
        header .container4 .primeraimagennacional {
          height: 45%;
          width: 45%;
          margin-top: 10px;
          margin-left: 465px; }
        header .container4 .videoayudamc {
          margin-left: 20px; }
        header .container4 .mariacorina {
          margin-left: 20px; }
        header .container4 .videoayudamc1 {
          margin-left: 20px; }
        header .container4 .primertitulonacional {
          text-align: center; }
        header .container4 .img2maria {
          margin-top: 90px;
          height: 70%;
          width: 33%; }
        header .container4 .fototwitter {
          display: none; } }

.sucesos {
  display: grid;
  text-align: center; }

.instagramsuces {
  font-size: 10px;
  margin-left: 10px; }

.volverarribasuces {
  font-size: 10px;
  margin-left: 10px; }

.imagensucesos1 {
  width: 70%;
  height: 70%;
  margin-top: 10px;
  margin-left: 55px; }

.sectionsucesos1 {
  display: inline-flex; }

.imagensucesos2 {
  width: 33%;
  height: 33%; }

.imagensucesos3 {
  width: 33%;
  height: 33%; }

.imagensucesos4 {
  width: 33%;
  height: 33%; }

.sectionsucesos2 {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px; }

.segundotextosuceso {
  margin-left: 10px;
  margin-right: 10px; }

.imagensucesos1 {
  height: 50%;
  width: 50%; }

header {
  color: white;
  text-align: center; }
  header .container1 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 480px) {
      header .container1 {
        grid-template-columns: 1fr;
        gap: 1rem; }
        header .container1 .imgainicio12 {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container1 .primertitulo1inicio {
          text-align: center; }
        header .container1 .titulonoticia1 {
          text-align: center; }
        header .container1 .titulovideoinicio1 {
          margin-left: 40px; }
        header .container1 .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container1 .videoayudamc {
          display: none; }
        header .container1 .mariacorina {
          display: none; }
        header .container1 .textmariacorina {
          display: none; }
        header .container1 .img2maria {
          margin-top: 20px;
          height: 60%;
          width: 32%; }
        header .container1 .videoayudamc1 {
          margin-left: 5px; }
        header .container1 .imgdesastrenatural {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container1 .dukevi {
          width: 20%;
          height: 20%;
          margin-left: 50px; } }
    header .container1 .primertitulo1inicio {
      margin-top: 5px;
      margin-left: 25px; }
    header .container1 .imgainicio {
      width: 90%;
      height: 90%;
      margin-left: 10px; }
    header .container1 .titulonoticia1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container1 .primerparrafoinicio {
      font-size: small;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container1 .titulovideoinicio1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container1 .videoinicio1 {
      margin-left: 10px; }
  header .container1 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (max-width: 480px) {
      header .container1 {
        grid-template-columns: 1fr;
        gap: 10px; }
        header .container1 .fototwitter {
          height: 10px;
          width: 10px; }
        header .container1 .videoayudamc {
          display: none; }
        header .container1 iframe .mariacorina {
          display: none; }
        header .container1 .ejemplodosN {
          margin-left: 20px; }
        header .container1 .img2maria {
          display: none; }
        header .container1 .mariacorina {
          display: none; }
        header .container1 .videoayudamc1 {
          margin-left: 15px; }
        header .container1 .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container1 .segundotituloun {
          margin-left: 100px; }
        header .container1 .primertitulonacional {
          display: none; }
        header .container1 .primeraimagennacional {
          width: 50%;
          height: 50%;
          margin-top: 20px;
          margin-left: 160px; }
        header .container1 .imgainicio {
          height: 100%;
          width: 100%;
          margin-left: 25px; }
        header .container1 .primertitulo1inicio {
          text-align: center; }
        header .container1 .fototwitter {
          display: none; } }
  header .container1 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 1300px) {
      header .container1 {
        grid-template-columns: 1fr;
        gap: 1em; }
        header .container1 .primertitulo1inicio {
          text-align: center; }
        header .container1 .imgainicio12 {
          height: 45%;
          width: 45%;
          margin-bottom: 5px;
          margin-left: 376px; }
        header .container1 .titulonoticia1 {
          margin: 10px;
          text-align: center; }
        header .container1 .primerparrafoinicio {
          font-size: large; }
        header .container1 .sectioninicio1 {
          display: none; }
        header .container1 .primeraparte {
          display: none; }
        header .container1 .primeraimagennacional {
          height: 45%;
          width: 45%;
          margin-top: 10px;
          margin-left: 465px; }
        header .container1 .videoayudamc {
          margin-left: 20px; }
        header .container1 .mariacorina {
          margin-left: 20px; }
        header .container1 .videoayudamc1 {
          margin-left: 20px; }
        header .container1 .primertitulonacional {
          text-align: center; }
        header .container1 .img2maria {
          margin-top: 90px;
          height: 70%;
          width: 33%; }
        header .container1 .fototwitter {
          display: none; } }

.nacionales {
  display: grid;
  text-align: center; }

.primeraimagennacional {
  width: 50%;
  height: 40%;
  margin-top: 20px;
  margin-left: 60px; }

.primertitulonacional {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.primeranoticianacional {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.img2maria {
  width: 30%;
  height: 30%; }

.noticia2nacional {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.textmariacorina {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.facebun {
  margin-left: 10px;
  font-size: 10px; }

.enlacearriban {
  margin-left: 10px;
  font-size: 10px; }

.imagensucesos1 {
  height: 50%;
  width: 50%; }

.sectioninicio1 {
  background-color: #D9D9D9; }

.sectioninicio2 {
  background-color: #EFE9E1; }

header {
  color: white;
  text-align: center; }
  header .container6 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 480px) {
      header .container6 {
        grid-template-columns: 1fr;
        gap: 1rem; }
        header .container6 .imgainicio12 {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container6 .primertitulo1inicio {
          text-align: center; }
        header .container6 .titulonoticia1 {
          text-align: center; }
        header .container6 .titulovideoinicio1 {
          margin-left: 40px; }
        header .container6 .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container6 .videoayudamc {
          display: none; }
        header .container6 .mariacorina {
          display: none; }
        header .container6 .textmariacorina {
          display: none; }
        header .container6 .img2maria {
          margin-top: 20px;
          height: 60%;
          width: 32%; }
        header .container6 .videoayudamc1 {
          margin-left: 5px; }
        header .container6 .imgdesastrenatural {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container6 .dukevi {
          width: 20%;
          height: 20%;
          margin-left: 50px; } }
    header .container6 .primertitulo1inicio {
      margin-top: 5px;
      margin-left: 25px; }
    header .container6 .imgainicio {
      width: 90%;
      height: 90%;
      margin-left: 10px; }
    header .container6 .titulonoticia1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container6 .primerparrafoinicio {
      font-size: small;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container6 .titulovideoinicio1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container6 .videoinicio1 {
      margin-left: 10px; }
  header .container6 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (max-width: 480px) {
      header .container6 {
        grid-template-columns: 1fr;
        gap: 10px; }
        header .container6 .fototwitter {
          height: 10px;
          width: 10px; }
        header .container6 .videoayudamc {
          display: none; }
        header .container6 iframe .mariacorina {
          display: none; }
        header .container6 .ejemplodosN {
          margin-left: 20px; }
        header .container6 .img2maria {
          display: none; }
        header .container6 .mariacorina {
          display: none; }
        header .container6 .videoayudamc1 {
          margin-left: 15px; }
        header .container6 .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container6 .segundotituloun {
          margin-left: 100px; }
        header .container6 .primertitulonacional {
          display: none; }
        header .container6 .primeraimagennacional {
          width: 50%;
          height: 50%;
          margin-top: 20px;
          margin-left: 160px; }
        header .container6 .imgainicio {
          height: 100%;
          width: 100%;
          margin-left: 25px; }
        header .container6 .primertitulo1inicio {
          text-align: center; }
        header .container6 .fototwitter {
          display: none; } }
  header .container6 {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 1300px) {
      header .container6 {
        grid-template-columns: 1fr;
        gap: 1em; }
        header .container6 .primertitulo1inicio {
          text-align: center; }
        header .container6 .imgainicio12 {
          height: 45%;
          width: 45%;
          margin-bottom: 5px;
          margin-left: 376px; }
        header .container6 .titulonoticia1 {
          margin: 10px;
          text-align: center; }
        header .container6 .primerparrafoinicio {
          font-size: large; }
        header .container6 .sectioninicio1 {
          display: none; }
        header .container6 .primeraparte {
          display: none; }
        header .container6 .primeraimagennacional {
          height: 45%;
          width: 45%;
          margin-top: 10px;
          margin-left: 465px; }
        header .container6 .videoayudamc {
          margin-left: 20px; }
        header .container6 .mariacorina {
          margin-left: 20px; }
        header .container6 .videoayudamc1 {
          margin-left: 20px; }
        header .container6 .primertitulonacional {
          text-align: center; }
        header .container6 .img2maria {
          margin-top: 90px;
          height: 70%;
          width: 33%; }
        header .container6 .fototwitter {
          display: none; } }

footer {
  display: grid; }

.iraiginicio {
  font-size: 10px; }

.etiquetainicio {
  font-size: 10px; }

.imgainicio12 {
  width: 50%;
  height: 35%;
  margin-left: 90px; }

.titulonoticia1 {
  text-align: center; }

.imagensucesos1 {
  height: 50%;
  width: 50%; }

header {
  color: white;
  text-align: center; }

.contacto {
  display: grid;
  text-align: center; }

.contacto {
  display: grid;
  place-items: center; }

.caja1 {
  display: grid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  gap: 12px; }

.titulodelmapa {
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 80px; }

.caja3 {
  background-color: #D9D9D9; }

.caja2 {
  background-color: #EFE9E1; }

.caja4 {
  background-color: #b5b9b9; }

.mapa {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  object-fit: cover; }

.telef {
  display: grid;
  font-size: 1rem; }

.correos {
  display: grid;
  font-size: 1rem; }

.footercontacto1 {
  display: grid; }

.volverarribacontac {
  display: grid;
  place-items: center;
  font-size: 0.7rem; }

.youtube {
  font-size: 0.7rem; }

.tlfcontacto {
  display: grid;
  margin: 0px 120px 15px 120px; }

.derechoscontact {
  display: grid;
  place-items: center;
  font-size: 0.7rem; }

.menuoculto {
  display: none; }

.youtube {
  font-size: 10px; }

.volverarribacontac {
  font-size: 10px; }

.imagensucesos1 {
  height: 50%;
  width: 50%; }

header .container3 {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 1em; }
  @media screen and (min-width: 480px) {
    header .container3 {
      grid-template-columns: 1fr;
      gap: 1rem; }
      header .container3 .imgainicio12 {
        width: 70%;
        height: 50%;
        margin-left: 70px; }
      header .container3 .primertitulo1inicio {
        text-align: center; }
      header .container3 .titulonoticia1 {
        text-align: center; }
      header .container3 .titulovideoinicio1 {
        margin-left: 40px; }
      header .container3 .primeraimagennacional {
        width: 80%;
        height: 40%;
        margin-top: 20px;
        margin-left: 30px; }
      header .container3 .videoayudamc {
        display: none; }
      header .container3 .mariacorina {
        display: none; }
      header .container3 .textmariacorina {
        display: none; }
      header .container3 .img2maria {
        margin-top: 20px;
        height: 60%;
        width: 32%; }
      header .container3 .videoayudamc1 {
        margin-left: 5px; }
      header .container3 .imgdesastrenatural {
        width: 70%;
        height: 50%;
        margin-left: 70px; }
      header .container3 .dukevi {
        width: 20%;
        height: 20%;
        margin-left: 50px; } }
  header .container3 .primertitulo1inicio {
    margin-top: 5px;
    margin-left: 25px; }
  header .container3 .imgainicio {
    width: 90%;
    height: 90%;
    margin-left: 10px; }
  header .container3 .titulonoticia1 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; }
  header .container3 .primerparrafoinicio {
    font-size: small;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; }
  header .container3 .titulovideoinicio1 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; }
  header .container3 .videoinicio1 {
    margin-left: 10px; }

header .container3 {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 1em; }
  @media screen and (max-width: 480px) {
    header .container3 {
      grid-template-columns: 1fr;
      gap: 10px; }
      header .container3 .fototwitter {
        height: 10px;
        width: 10px; }
      header .container3 .videoayudamc {
        display: none; }
      header .container3 iframe .mariacorina {
        display: none; }
      header .container3 .ejemplodosN {
        margin-left: 20px; }
      header .container3 .img2maria {
        display: none; }
      header .container3 .mariacorina {
        display: none; }
      header .container3 .videoayudamc1 {
        margin-left: 15px; }
      header .container3 .primeraimagennacional {
        width: 80%;
        height: 40%;
        margin-top: 20px;
        margin-left: 30px; }
      header .container3 .segundotituloun {
        margin-left: 100px; }
      header .container3 .primertitulonacional {
        display: none; }
      header .container3 .primeraimagennacional {
        width: 50%;
        height: 50%;
        margin-top: 20px;
        margin-left: 160px; }
      header .container3 .imgainicio {
        height: 100%;
        width: 100%;
        margin-left: 25px; }
      header .container3 .primertitulo1inicio {
        text-align: center; }
      header .container3 .fototwitter {
        display: none; } }

header .container3 {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 1em; }
  @media screen and (min-width: 1300px) {
    header .container3 {
      grid-template-columns: 1fr;
      gap: 1em; }
      header .container3 .primertitulo1inicio {
        text-align: center; }
      header .container3 .imgainicio12 {
        height: 45%;
        width: 45%;
        margin-bottom: 5px;
        margin-left: 376px; }
      header .container3 .titulonoticia1 {
        margin: 10px;
        text-align: center; }
      header .container3 .primerparrafoinicio {
        font-size: large; }
      header .container3 .sectioninicio1 {
        display: none; }
      header .container3 .primeraparte {
        display: none; }
      header .container3 .primeraimagennacional {
        height: 45%;
        width: 45%;
        margin-top: 10px;
        margin-left: 465px; }
      header .container3 .videoayudamc {
        margin-left: 20px; }
      header .container3 .mariacorina {
        margin-left: 20px; }
      header .container3 .videoayudamc1 {
        margin-left: 20px; }
      header .container3 .primertitulonacional {
        text-align: center; }
      header .container3 .img2maria {
        margin-top: 90px;
        height: 70%;
        width: 33%; }
      header .container3 .fototwitter {
        display: none; } }

.internacionales {
  display: grid;
  text-align: center; }

.imginternacional1 {
  width: 70%;
  height: 70%;
  margin-left: 50px; }

.ejemplointerdos {
  margin-left: 30px; }

.imagenrelleno1 {
  width: 30%;
  height: 30%; }

.imagenrelleno2 {
  width: 30%;
  height: 30%; }

.imagenrelleno3 {
  width: 30%;
  height: 30%; }

.facebuinter {
  margin-left: 10px;
  font-size: 10px; }

.enlacearribainter {
  margin-left: 10px;
  font-size: 10px; }

.videomel {
  margin-left: 10px;
  margin-right: 10px; }

.imagensucesos1 {
  height: 50%;
  width: 50%; }

.sectioninicio1 {
  background-color: #D9D9D9; }

.sectioninicio2 {
  background-color: #EFE9E1; }

header {
  color: white;
  text-align: center; }
  header .container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 480px) {
      header .container {
        grid-template-columns: 1fr;
        gap: 1rem; }
        header .container .imgainicio12 {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container .primertitulo1inicio {
          text-align: center; }
        header .container .titulonoticia1 {
          text-align: center; }
        header .container .titulovideoinicio1 {
          margin-left: 40px; }
        header .container .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container .videoayudamc {
          display: none; }
        header .container .mariacorina {
          display: none; }
        header .container .textmariacorina {
          display: none; }
        header .container .img2maria {
          margin-top: 20px;
          height: 60%;
          width: 32%; }
        header .container .videoayudamc1 {
          margin-left: 5px; }
        header .container .imgdesastrenatural {
          width: 70%;
          height: 50%;
          margin-left: 70px; }
        header .container .dukevi {
          width: 20%;
          height: 20%;
          margin-left: 50px; } }
    header .container .primertitulo1inicio {
      margin-top: 5px;
      margin-left: 25px; }
    header .container .imgainicio {
      width: 90%;
      height: 90%;
      margin-left: 10px; }
    header .container .titulonoticia1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container .primerparrafoinicio {
      font-size: small;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container .titulovideoinicio1 {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px; }
    header .container .videoinicio1 {
      margin-left: 10px; }
  header .container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (max-width: 480px) {
      header .container {
        grid-template-columns: 1fr;
        gap: 10px; }
        header .container .fototwitter {
          height: 10px;
          width: 10px; }
        header .container .videoayudamc {
          display: none; }
        header .container iframe .mariacorina {
          display: none; }
        header .container .ejemplodosN {
          margin-left: 20px; }
        header .container .img2maria {
          display: none; }
        header .container .mariacorina {
          display: none; }
        header .container .videoayudamc1 {
          margin-left: 15px; }
        header .container .primeraimagennacional {
          width: 80%;
          height: 40%;
          margin-top: 20px;
          margin-left: 30px; }
        header .container .segundotituloun {
          margin-left: 100px; }
        header .container .primertitulonacional {
          display: none; }
        header .container .primeraimagennacional {
          width: 50%;
          height: 50%;
          margin-top: 20px;
          margin-left: 160px; }
        header .container .imgainicio {
          height: 100%;
          width: 100%;
          margin-left: 25px; }
        header .container .primertitulo1inicio {
          text-align: center; }
        header .container .fototwitter {
          display: none; } }
  header .container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1em; }
    @media screen and (min-width: 1300px) {
      header .container {
        grid-template-columns: 1fr;
        gap: 1em; }
        header .container .primertitulo1inicio {
          text-align: center; }
        header .container .imgainicio12 {
          height: 45%;
          width: 45%;
          margin-bottom: 5px;
          margin-left: 376px; }
        header .container .titulonoticia1 {
          margin: 10px;
          text-align: center; }
        header .container .primerparrafoinicio {
          font-size: large; }
        header .container .sectioninicio1 {
          display: none; }
        header .container .primeraparte {
          display: none; }
        header .container .primeraimagennacional {
          height: 45%;
          width: 45%;
          margin-top: 10px;
          margin-left: 465px; }
        header .container .videoayudamc {
          margin-left: 20px; }
        header .container .mariacorina {
          margin-left: 20px; }
        header .container .videoayudamc1 {
          margin-left: 20px; }
        header .container .primertitulonacional {
          text-align: center; }
        header .container .img2maria {
          margin-top: 90px;
          height: 70%;
          width: 33%; }
        header .container .fototwitter {
          display: none; } }

.fototwitter {
  width: 40%;
  height: 50%;
  margin-left: 80px; }

.segundotituloun {
  text-align: center;
  margin-right: 65px; }

.imgdesastrenatural {
  width: 50%;
  height: auto;
  margin-top: 5px;
  margin-left: 55px; }

.twitter {
  display: grid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px; }

.texvideo1un {
  margin-left: 10px;
  margin-right: 10px; }

.texvideo2un {
  margin-left: 10px;
  margin-right: 10px; }

.noticia2un {
  margin-left: 10px;
  margin-right: 10px; }

.segundotituloun {
  margin-left: 50px; }

.videotragedia {
  margin-left: 10px; }

.videotragedia2 {
  margin-left: 10px; }

footer {
  display: grid; }

.facebu {
  margin-left: 10px;
  font-size: 10px; }

.enlacearriba {
  margin-left: 10px;
  font-size: 10px; }

header {
  background-color: #830d0d; }
  header nav ul {
    list-style: none;
    display: grid;
    gap: 30px;
    font-family: 'roboto', sans-serif;
    margin-left: 5px; }

.estilomenu {
  background-color: whitesmoke; }

.estilomenu a {
  color: black;
  padding: 0 10px; }

.estilomenu a:hover {
  background-color: #830d0d;
  color: white; }

main {
  background-color: #D1C7BD; }

footer {
  background-color: #830d0d; }

.derechosinicio {
  display: grid;
  place-items: center;
  font-size: 10px;
  margin-bottom: 5px;
  color: white; }
