@import "utilidades/mixin.scss";
@import "utilidades/extend";
@import "./reset/reset";

@import "utilidades/variables";

@import "html/sucesos";
@import "html/nacionales";
@import "html/inicio";
@import "html/contacto";
@import "html/internacionales";
@import "html/ultimasnoticias";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




header{
    background-color: $color-principal;
    
         
         nav ul { 
                list-style: none;
                display:grid ;  
                gap: 30px;
                font-family:  'roboto', sans-serif;
                margin-left: 5px;

                }}
         
                .estilomenu{background-color: whitesmoke;}

                .estilomenu a{
                    color:black;
                    padding: 0 10px;
                }

                .estilomenu a:hover{
                    background-color:  rgb(131, 13, 13);
                    color: white;
                }

 main{background-color: #D1C7BD;}

 
footer{ background-color: $color-principal;
}
 
.derechosinicio{
    display: grid; 
    place-items: center;
    font-size: 10px;
    margin-bottom: 5px; color: white;}



