@import "../utilidades/variables";
@import "../utilidades/mixin.scss";


header{
@include estilos-tituloprincipal;
.container1{@include grid-mobil (1 ,1em)}
.container1{@include grid-tablet (1 ,1em)}
.container1{@include grid-desktop (1 ,1em)}}
.nacionales{display: grid; text-align: center;}

.primeraimagennacional{width:50%; height:40%; margin-top: 20px; margin-left: 60px;}

.primertitulonacional{margin-top: 10px; margin-left: 10px; margin-right: 10px;}

.primeranoticianacional{margin-top: 10px; margin-left: 10px; margin-right: 10px;}

.img2maria{width:30%; height:30%;}

.noticia2nacional{margin-top: 10px; margin-left: 10px; margin-right: 10px;}

.textmariacorina{margin-top: 10px; margin-left: 10px; margin-right: 10px;}

.facebun{margin-left: 10px; font-size: 10px;}
.enlacearriban{margin-left: 10px; font-size: 10px;}
.derechosn{@extend %estilos-derechos;}