@import "../utilidades/variables";
@import "../utilidades/mixin.scss";

.sectioninicio1{background-color:#D9D9D9;}

.sectioninicio2{background-color: #EFE9E1;}

header{
    @include estilos-tituloprincipal;

    .container{@include grid-mobil(1 ,1em)}

    .container{@include grid-tablet (1 ,1em)}
    
    .container{@include grid-desktop (1 ,1em)}
}


.fototwitter{width: 40%; height: 50%; margin-left: 80px;}

.segundotituloun{text-align: center; margin-right: 65px;}

.imgdesastrenatural{width:50%; height:auto; margin-top: 5px; margin-left: 55px;}


.twitter{display: grid
    ; margin-top: 5px; margin-bottom: 5px; margin-right: 10px;}

.texvideo1un{margin-left: 10px;margin-right:10px ;}

.texvideo2un{margin-left: 10px; margin-right:10px;}

.noticia2un{margin-left: 10px;margin-right:10px; }

.segundotituloun{margin-left: 50px; }

.videotragedia{margin-left: 10px;}

.videotragedia2{margin-left: 10px;}

footer{display: grid;}

.facebu{margin-left: 10px; font-size: 10px;}
     
.enlacearriba{margin-left: 10px; font-size: 10px;}
     
.derechosun{@extend %estilos-derechos;}

 